body {
  margin: 0;
  padding: 0;
}

.image {
  border: 2px solid black;
  width: 100vw;
  position: relative;
}

.targeting-box {
  display: none;
  border: 2px solid red;
  padding: 6px;
  height: 2%;
  width: 2%;
  pointer-events: none;
}

.active {
  display: block;
  position: absolute;
}

img {
  width: 100%;
  height: auto;
}
